<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970858019174-9ofku7o9vonpt0jhsd6o5dn80cq2usci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970858019174-9ofku7o9vonpt0jhsd6o5dn80cq2usci</string>
	<key>API_KEY</key>
	<string>AIzaSyBYFrVS58pUL8X9dNT8oFZhnggiiwt_0q8</string>
	<key>GCM_SENDER_ID</key>
	<string>970858019174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FreeSoil.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-b07a1</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-b07a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970858019174:ios:0d1ae1e31b3f04c5</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-b07a1.firebaseio.com</string>
</dict>
</plist>